[Unit]
Description=Copr Status
After=network.target

[Service]
ExecStart=/usr/bin/perl -Ilib util/start.pl
WorkingDirectory=path/to/copr-status
Restart=on-failure

[Install]
WantedBy=multi-user.target
