<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title}</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  </head>
  <body>
    <div class="container">

      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="https://github.com/spb-tools/copr-status/">github</a></li>
            <li role="presentation"><a href="https://copr.fedoraproject.org/coprs/softwarepublico/v4/">softwarepublico/v4</a></li>
            <li role="presentation"><a href="https://copr.fedoraproject.org/coprs/softwarepublico/v5/">softwarepublico/v5</a></li>
            <li role="presentation"><a href="https://softwarepublico.gov.br">SPB</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">SPB Copr Status</h3>
      </div>

      <div class="jumbotron">
        <p class="lead">This app fetches data from softwarepublico Copr EPEL7 repositories and compares package versions. In short, a red cell means that the package version differ from the git one (<b>note that this is NOT necessarily a bad thing</b>).</p>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <table class="table table-striped">
              <tr>
                <td class="success">Versions match</td>
              </tr>
              <tr>
                <td class="danger">Versions do not match</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive">
          <table class="table table-striped">
            <tr>
              <th></th>
              <th>Release 4</th>
              <th></th>
              <th>Release 5</th>
              <th></th>
            </tr>
            <tr>
              <th>PACKAGE</th>
              <th>git:stable-4.x</th>
              <th>softwarepublico/v4</th>
              <th>git:master</th>
              <th>softwarepublico/v5</th>
            </tr>
              {$table_entries}
          </table>
        </div>
      </div>

        <footer class="footer">
          <p>2015 LAPPIS - #softwarepublico, #lappis, #ccsl-usp @ Freenode</p>
        </footer>

      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
