<!DOCTYPE html>
<!--[if IE 9]><html lang="en-us" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-us">
<!--<![endif]-->
  <head>
    <title>{$title}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/patternfly.min.css" >
    <link rel="stylesheet" href="/static/css/patternfly-additions.min.css" >
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="/static/js/patternfly.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="https://github.com/spb-tools/copr-status/">github</a></li>
            <li role="presentation"><a href="https://copr.fedoraproject.org/coprs/softwarepublico/v4/">softwarepublico/v4</a></li>
            <li role="presentation"><a href="https://copr.fedoraproject.org/coprs/softwarepublico/v5/">softwarepublico/v5</a></li>
            <li role="presentation"><a href="https://softwarepublico.gov.br">SPB</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">SPB Copr Status</h3>
      </div>

      <div class="jumbotron">
        <p class="lead">This app fetches data from softwarepublico Copr EPEL7 repositories and compares package versions. In short, a red cell means that the package version differs from the git one (<b>note that this is NOT necessarily a bad thing</b>).</p>
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <table class="table table-striped">
              <tr>
                <td class="success">Versions match</td>
              </tr>
              <tr>
                <td class="danger">Versions do not match</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
        <!--<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">-->
<table class="datatable table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      <th colspan="2">Release 5</th>
      <th colspan="2">Release 6</th>
    </tr>
    <tr>
      <th>PACKAGE</th>
      <th>git:stable-5.0</th>
      <th>softwarepublico/v5</th>
      <th>git:master</th>
      <th>softwarepublico/v6</th>
    </tr>
  </thead>
  <tbody>
    {$table_entries}
  </tbody>
</table>
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
<footer class="footer">
  <p>2016 LAPPIS - #softwarepublico, #lappis @ Freenode</p>
</footer>
    <script>
      // Initialize Datatables
      $(document).ready( function() \{
        $('.datatable').dataTable();
      \});
    </script>

  </body>
</html>
